<html class="no-js">

<head>
    <title> v-model example </title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .example {
            border: 1px blue solid;
            margin: 5px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id='app'>
        <child my-message="hello"></child>
    </div>



    <script>
        Vue.component('child', {
            props: ['myMessage'],
            template: '<span>{{ myMessage }}</span>'
        })


        var app = new Vue({
            el: '#app',
            data: {

            }
        })
    </script>


</body>

</html>